* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}

main {
  margin-bottom: 100px;
}

a:link, a {
  font-style: none;
  text-decoration: none;
  color: black;
}

  a:hover {
  color: rgb(6, 6, 173);
}

h1, h2 {
  margin: 0;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-size: 60px;
  margin: 100px 0;
}

.nav-list {
  display:  flex;
  gap: 20px;
  justify-content: flex-end;
}

.nav-list li {
  font-weight: bold;
  text-transform: uppercase;
}

.article__image-container {
  /* width: 400px; */
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.articl__image-container img {
  width: 100%;
}


article {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.article__button-container button {
  background-color: white;
  width: 110px;
  height: 30px;
  cursor: pointer;
}

.article__button-container {
  display: flex;
}

.article__content-container {
  width: 50%;
}

.article__footer-container {
  display: flex;
  justify-content: space-between;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
}

.pagination-container span {
 font-size: 30px; 
 font-weight: bold;
 
}

.pagination-container span:hover {
  cursor: pointer;
}