
@import '../../styles/variables';


.content-container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  .homepage-content {
    max-width: 458px ;

    &__title {
      margin: 24px 0; 
      line-height: 1;
    }
    &__description {
      line-height: 32px;
    }
  }

  .homepage-button  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 274px;
      height: 274px;
      border-radius: 50%;
      background-color: rgba(255,255,255,0.2);
      position: absolute;
      top: 50%;
      left: 50%;
      bottom: 0;
      right: 0;
      transform: translate(-50%, -50%);
      z-index: -1;
      transition: all .3s ease-in-out;
    }

    &:hover::before {
      width: 450px;
      height: 450px;
    }

    button {
      width: 274px;
      height: 274px;
      border-radius: 50%;
    }

    h4 {
      color: $blue-dark;
    }

  }
}
