.media-parent1 {
  width: 200px;
  height: 200px;
  background-color: rgb(211, 255, 54);
}

@media screen and (max-width: 500px) {
  .media-parent1 {
    background-color: rgb(225, 201, 65);
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .media-parent1 {
    background-color: rgb(149, 206, 45);
    width: 270px;
    height: 270px;
  }
}

@media screen and (min-width: 1000px) {
  .media-parent1 {
    background-color: royalblue;
    width: 300px;
    height: 300px;
  }
}

/* Breakingpoints */

/* Small screen  */
@media screen and (max-width: 1200px) {
  .media-parent2 {
    background-color: rgb(17, 112, 221);
    width: 300px;
    height: 300px;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .media-parent2 {
    background-color: rgb(149, 206, 45);
    width: 200px;
    height: 200px;
  }
}

/* Mobile */
@media screen and (max-width: 475px) {
  .media-parent2 {
    background-color: royalblue;
    width: 100px;
    height: 100px;
  }
}

/*  Orientation */
.media-parent-orientation {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
}

@media (orientation: portrait) {
  .media-parent-orientation {
    height: 200px;
  }
}

@media (orientation: landscape) {
  .media-parent-orientation {
    width: 200px;
  }
}
