/* Logo */
.logo-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
}

.logo-image {
  width: 70px;
}

.logo-text {
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Nav */
.nav-container {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li {
  margin: 10px;
}

/* Banner */

.banner-container {
  background-color:#fceeea;
  padding: 20px;
  background: linear-gradient(#fceeea, rgb(255, 255, 255));
}

.banner-title {
  text-align: center;
}

.banner-subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 100;
}

.banner-text {
  text-align: center;
  font-size: 1;
  height: 80px;
  overflow: hidden;
}

/* Products */
.products {

}

.products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.product-card {
  border: 1px solid rgba(0,0,0,0.1);
  flex: 0 1 270px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-footer {
  display: flex;
  justify-content: space-between;
}

.product-title {
  height: 120px;
}


.product-image {
  width: 200px;
}