// Font family
$bellefair: "Bellefair", serif;
$barlow: "Barlow Condensed", sans-serif;

// Text-size
$size-xxxl: 150px;
$size-xxl: 100px;
$size-xl: 56px;
$size-lg: 32px;
$size-mid: 28px;
$size-sm: 18px;
$size-xs: 16px;
$size-xxs: 14px;

// Colors
$white: white;
$blue-dark: #0b0d17;
$blue-light: #d0d6f9;
