@import "../../styles/variables";

body {
  background-image: url("../../assets/destination/background-destination-desktop.jpg");
}

.page-title {
  margin-bottom: 100px;
}

.sub-nav {
  &__list {
    display: flex;
    gap: 20px;
    margin-bottom: 36px;
  }

  &__item {
    text-transform: uppercase;
    padding-bottom: 10px;
    &-link:link,
    &-link:visited {
      color: $blue-light;
    }

    &--active {
      border-bottom: 2px solid $white;
      .sub-nav__item-link {
        color: $white;
      }
    }
  }

  &__item:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }
  &__item--active:hover {
    border-bottom: 2px solid $white;
  }
}

.destination {
  &__title {
    margin-bottom: 20px;
  }

  &__content {
    max-width: 475px;
  }

  &__description {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 16px;
  }

  &__content-footer {
    display: flex;
    .left-content,
    .right-content {
      width: 50%;
    }
    .sub-heading1 {
      text-transform: uppercase;
    }
    .sub-heading2 {
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }

  .destination {
    &__content {
      text-align: center;
      margin-bottom: 100px;
    }
  }

  .content-container {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 0;
  }

  .sub-nav__list {
    justify-content: center;
  }

  .destination__image {
    margin-bottom: 80px;
    width: 60%;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url("../../assets/destination/background-destination-mobile.jpg");
  }

  .destination {
    &__content-footer {
      flex-direction: column;
      align-items: center;
    }

    .left-content {
      margin-bottom: 30px;
    }
  }
}
