* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* width: 80%;
  max-width: 1400px;
  margin: auto; */
  font-family: Roboto;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}

/* unvisited link */
a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #f48989;
}

/* selected link */
a:active {
  color: #0000FF;
}